<nav class="navbar navbar-expand-md py-3 px-4 border-bottom border-success border-opacity-25 navbarStyle">
    <div class="container-fluid">
        <!-- Logo + brand -->
        <div class="d-flex align-items-center gap-3">

            <!-- <span class="fw-bold fs-4 text-white">Dawry Dash</span> -->
            <img src="BrandImage.png" style="width: 160px;">
        </div>

        <!-- toggler for mobile -->
        <button class="navbar-toggler bg-white bg-opacity-10 border border-success border-opacity-25" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links and buttons -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-4">
                <li class="nav-item"><a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Tournaments</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
            <div class="d-flex gap-3">
                <button class="btn rounded-3 px-4 py-2 btn-color">Login</button>
                <!-- <button class="btn px-4 py-2 fw-semibold btn-color-green">SignUp</button> -->
                <app-green-button [innerText]="'SignUp'"></app-green-button>
            </div>
        </div>
    </div>
</nav>