.background-color{
    background-color: rgba(34, 34, 34, 1);
}

.bg-grey{
    background-color: #474747;
    backdrop-filter: blur(8px);
}

.bg-green{
    background-color: color-mix(in oklab, #89e900 20%, transparent);
    backdrop-filter: blur(12px);
}

.green-border{
    
    border: 1px solid;
    border-color: color-mix(in oklab, #89e900 15%, transparent);
}