<section class="background-color">
    <!-- <div class="p-3"></div> -->
    <div class="text-center pt-4 pb-2">

        <h2 class="text-white fw-bold" style="font-size: 42px;">
            Join the Competition
        </h2>

        <p class="text-white-50 mt-2 mb-0" style="font-size: 20px;">
            Build your team, compete in tournaments, and follow every match live.
        </p>

    </div>

    <div class="row background-color p-3 justify-content-center">
        <div class="col col-12 col-lg-4">
            <div class="green-border p-3" style="background-color: rgba(255, 255, 255, 0.1)">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <!-- Name -->
                    <label class=" text-white-50 mt-3 mb-1" style="font-size: 16px;">Name</label>
                    <input class="form-control bg-white-black text-white-50 green-border" style="height:3rem"
                        type="text" placeholder="Enter Your Name" formControlName="name">
                    @if(name?.touched && name?.invalid){

                    @if(name?.errors?.['required']){
                    <span class="font-style">Name is required</span>
                    }
                    @else{
                    @if(name?.errors?.['maxlength']){
                    <span class="font-style">Maximum length is 50 characters</span>
                    }
                    @else{
                    @if(name?.errors?.['minlength']){
                    <span class="font-style">Minimum length is 3 characters</span>
                    }
                    }
                    }
                    }
                    <!-- email -->
                    <label class=" text-white-50 mt-3 mb-1" style="font-size: 16px;">Email</label>
                    <input class="form-control bg-white-black text-white-50 green-border" style="height:3rem"
                        type="email" placeholder="Enter Your Email" formControlName="email">
                    @if(email?.touched && email?.invalid){

                    @if(email?.errors?.['required']){
                    <span class="font-style">email is required</span>
                    }
                    @else{
                    @if(email?.errors?.['maxlength']){
                    <span class="font-style">Maximum length is 256 characters</span>
                    }
                    @else{
                    @if(email?.errors?.['email']){
                    <span class="font-style">Invalid email format</span>
                    }
                    }
                    }
                    }
                    <!-- password -->
                    <label class="text-white-50 mt-3 mb-1" style="font-size: 16px;">Password</label>
                    <input type="password" class="form-control text-white-50 bg-white-black green-border"
                        placeholder="Enter Your Password" style="height:3rem;" formControlName="password">
                    @if(password?.touched && password?.invalid){

                    @if(password?.errors?.['required']){
                    <span class="font-style">Password is required</span>
                    }
                    @else{
                    @if(password?.errors?.['minlength']){
                    <span class="font-style">Minimum length is 8 characters</span>
                    }
                    @else{
                    @if(password?.errors?.['pattern']){
                    <span class="font-style"> Password must contain:
                        uppercase, lowercase and number</span>
                    }
                    }
                    }
                    }

                    <!-- confirm password -->
                    <label class="text-white-50 mt-3 mb-1" style="font-size: 16px;">Confirm Password</label>
                    <input type="password" class="form-control text-white-50 bg-white-black green-border"
                        placeholder="Confirm Your Password" style="height:3rem;" formControlName="confirmPassword">
                    @if(confirmPassword?.touched && confirmPassword?.invalid){

                    @if(password?.errors?.['required']){
                    <span class="font-style">Confirm Password is required</span>
                    }
                    }
                    @if(confirmPassword?.touched && confirmPassword?.value !== password?.value){
                    <span class="font-style">password mismatch</span>
                    }


                    <div class="mt-4 mb-2">
                        <!-- <span class="text-danger">{{message()}}</span> -->
                        <app-button size="medium" customClass="w-100">Login</app-button>
                    </div>
                </form>
            </div>
            <!-- or continue with -->
            <div class="my-3 d-flex justify-content-between align-items-center">
                <div class="green-border-top col-4">
                </div>
                <div>
                    <span class="text-white-50 col-3 m-0 p-0">or sign up with</span>
                </div>
                <div class="green-border-top col-4">
                </div>
            </div>


            <div class="row justify-content-between">
                <div class="col col-6">
                    <app-button variant="gray" customClass="my-2 w-100">
                        <div>
                            <img src="google-colored.png" style="width: 24px;" class="mx-2">
                            <span style="font-weight: bold;"></span>
                        </div>
                    </app-button>
                </div>

                <div class="col col-6">
                    <app-button variant="gray" customClass="my-2 w-100">
                        <div>
                            <img src="facebook-blue.png" style="width: 24px;" class="mx-2">
                            <span style="font-weight: bold;"></span>
                        </div>
                    </app-button>
                </div>
            </div>

            <div class="d-flex justify-content-center my-3">
                <span class="text-white-50">Already have an account?<a routerLink="/signup" class="ms-2"
                        style="font-weight: bold; color: var(--accent);">Sign In</a> </span>
            </div>

        </div>

    </div>


</section>