.btn-style {
    color: #89e900;
    background-color: color-mix(in oklab, #89e900 20%, transparent);
    backdrop-filter: blur(12px);
    border: 1px solid;
    border-color: color-mix(in oklab, #89e900 40%, transparent);
    transition: all 0.3s ease;
}

.btn-style:hover {
    background-color: #89e900;
    color: #000;
    border-color: #89e900;
}

.default {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}
