/* You can add global styles to this file, and also import other style files */
html,body{
background: rgba(34, 34, 34, 1)
}

:root {
  --bg-primary: # rgba(34, 34, 34, 1);
  --bg-surface: #2b2b2b;
  --accent: #89e900;
  --text-primary: #ffffff;
}