


a {
    font-size: 16px;
    font-weight: 400;
}

.grey-anchor {
    color: color-mix(in oklab, #fff 95%, transparent);
    backdrop-filter: blur(8px);
}


.green-anchor {
    color: #89e900;
    background-color: color-mix(in oklab, #89e900 20%, transparent);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 10px rgba(137, 233, 0, 0.5);
}